<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{title}} — Scratch Info</title>

        <!-- import the webpage's stylesheet -->
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/info.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/navbar.js"></script>
        <style>
            #lots-of-data * {
                font-size: large;
            }
        </style>
    </head>
    <body>
        {{{nav}}}
        <div id="container">
            <div style="display:flex;flex-wrap:wrap;" id="project-data-container">
                <div>
                    <a href="https://scratch.mit.edu/projects/{{id}}" target="_blank">
                        <div class="img-load-wrapper" style="width: 480px;height: 360px;">
                            <div class="activity"></div>
                        </div>
                        <img src="{{image}}" style="max-height:360px;max-width:100%;border-radius:10px;border:1px solid black;" hidden onload="this.hidden = false;this.previousElementSibling.style.display = 'none'">
                    </a>
                    <div style="display: flex;flex-wrap: wrap;">
                        <a href="https://scratch.mit.edu/projects/{{id}}" target="_blank" style="text-decoration: none;vertical-align: top;margin-left: 10px;display:block;">
                            <img src="/images/scratch-favicon.png" style="vertical-align:middle;width:32px;height:32px;" />
                            <span style="vertical-align:middle;color:darkyellow">Scratch link</span>
                        </a>
                        <a href="https://turbowarp.org/{{id}}" target="_blank" style="text-decoration: none;vertical-align: top;margin-left: 10px;display:block;">
                            <img src="/images/turbowarp-favicon.png" style="vertical-align:middle;width:32px;height:32px;" />
                            <span style="vertical-align:middle;color:red">TurboWarp link</span>
                        </a>
                    </div>
                </div>
                <div style="vertical-align: top;margin-left: 10px;" id="lots-of-data">
                    <a style="font-size: x-large;color:blue" target="_blank" href="https://scratch.mit.edu/projects/{{id}}">{{title}}</a>
                    <br />
                    <div style="display:flex">
                        <a id="user-link" href="/users/{{author.username}}" style="text-decoration:none;color:black;">
                            <div style="width: fit-content">
                                <span class="img-load-wrapper" style="height: 35px;width: 35px;margin-right: 5px;vertical-align: middle;border-radius: 5px;display: inline-block;">
                                    <span class="activity"></span>
                                </span>
                                <img src="{{author.image}}" style="height: 35px;width: 35px;margin-right: 5px;vertical-align: middle;border-radius: 5px;border: 1px solid black;" hidden onload="this.hidden = false;this.previousElementSibling.style.display = 'none'" />
                                <span style="vertical-align:middle">{{author.username}}</span>
                            </div>
                        </a>
                    </div>
                    <div style="display: flex;flex-wrap:wrap;">
                    <table id="project-stats" style="margin-top:5px;text-align:center;min-width:300px">
                        <tr><td colspan="3">Project Statistics</td></tr>
                        <tr><td class="loves"></td><td class="faves"></td></tr>
                        <tr><td class="views"></td><td class="remixes" style="vertical-align:middle;"></td></tr>
                        <tr><td class="loveToViewRatio" colspan="2"><span></span><span class="info" data-info="lovetoview"></span></td></tr>
                        <tr><td class="faveToViewRatio" colspan="2"><span></span><span class="info" data-info="favetoview"></span></td></tr>
                        <tr><td class="faveToLoveRatio" colspan="2"><span></span><span class="info" data-info="favetolove"></span></td></tr>
                    </table>
                    <div style="width: 10px;"></div>
                    <table id="search-stats" style="margin-top:5px;text-align:center;min-width:300px">
                        <tr><td colspan="3">Search Statistics<span class="info" data-info="searchstats"></span></td></tr>
                        <tr><td class="loves">{{{smallLoading}}}</td><td class="faves">{{{smallLoading}}}</td></tr>
                        <tr><td class="views" colspan="2">{{{smallLoading}}}</td>{{!-- <td class="remixes" style="vertical-align:middle;">{{{smallLoading}}}</td></tr> --}}
                        <tr><td class="loveToViewRatio" colspan="2"><span>{{{smallLoading}}}</span><span class="info" data-info="lovetoview"></span></td></tr>
                        <tr><td class="faveToViewRatio" colspan="2"><span>{{{smallLoading}}}</span><span class="info" data-info="favetoview"></span></td></tr>
                        <tr><td class="faveToLoveRatio" colspan="2"><span>{{{smallLoading}}}</span><span class="info" data-info="favetolove"></span></td></tr>
                    </table>
                    </div>
                    <table style="font-size:small;margin-top:10px;margin-bottom:5px;">
                        <tr><td id="created"></td></tr>
                        <tr><td id="modified"></td></tr>
                        <tr><td id="shared"></td></tr>
                    </table>
                    <span id="review-status-container">
                        <!-- <span id="review-status">...</span>
                        <span class="info" data-info="reviewstatus"></span> -->
                        <span id="index-status" style="margin-left: 0px;">{{{smallLoading}}}</span>
                        <span class="info" data-info="indexstatus"></span>
                        <a id="remixtree" class="remixes" target="_blank" style="margin-left: 25px;" href="https://retree.quuq.dev/tree#{{id}}">View Remix Tree</a>
                    </span>
                </div>
            </div>
        </div>
        <script>

            function handleDarkMode() {
                if (window.darkMode) {
                    document.querySelectorAll("#container, html").forEach(el => el.classList.add("dark-mode"))
                    document.querySelector("#container img").style.border = "1px solid white"
                    document.querySelectorAll("table td, tr").forEach(el => el.classList.add("dark-mode-table"))
                    document.querySelectorAll("button").forEach(el => el.classList.add("dark-mode", "dark-mode-button"))
                    document.querySelectorAll("a, #username-text").forEach(el => el.classList.add("dark-mode-link"))
                }
            }
            handleDarkMode()

            window.addEventListener("DOMContentLoaded", setup2)

            async function setup2() {
                /*if ("{{reviewStatus}}" == "notreviewed") {
                    document.querySelector("#review-status").innerText = "🤔 Not Reviewed"
                } else if ("{{reviewStatus}}" == "safe") {
                    document.querySelector("#review-status").innerText = "✅ Rated FE"
                } else if ("{{reviewStatus}}" == "notsafe") {
                    document.querySelector("#review-status").innerText = "⛔ Rated NFE"
                }*/

                const statsEl = document.querySelector("#project-stats")

                statsEl.querySelector(".loves").innerText = ({{stats.loves}}).toLocaleString()
                statsEl.querySelector(".faves").innerText = ({{stats.favorites}}).toLocaleString()
                statsEl.querySelector(".views").innerText = ({{stats.views}}).toLocaleString()
                statsEl.querySelector(".remixes").innerText = ({{stats.remixes}}).toLocaleString()
                statsEl.querySelector(".loveToViewRatio").children[0].innerText = `Love/view ratio: ${Math.round({{loveToViewRatio}} * 100) / 100}%`
                statsEl.querySelector(".faveToViewRatio").children[0].innerText = `Favorite/view ratio: ${Math.round({{faveToViewRatio}} * 100) / 100}%`
                statsEl.querySelector(".faveToLoveRatio").children[0].innerText = `Favorite/love ratio: ${Math.round({{faveToLoveRatio}} * 100) / 100}%`
                document.querySelector("#created").innerText = `Created: ${new Date("{{history.created}}").toLocaleString()}`
                document.querySelector("#modified").innerText = `Last Modified: ${new Date("{{history.created}}").toLocaleString()}`
                document.querySelector("#shared").innerText = `Shared: ${new Date("{{history.created}}").toLocaleString()}` }
        

                (async function() {

                let searchStatus = await (await fetch("/api/v1/projects/{{id}}/searchStatus")).json()
                const searchStatusEl = document.querySelector("#search-stats")
                if (searchStatus.status == "notindexed") {
                    searchStatusEl.hidden = true
                    document.querySelector("#index-status").innerHTML = "📉 Not Indexed"
                    return
                }
                searchStatusEl.querySelector(".loves").innerHTML = searchStatus.stats.loves.toLocaleString()
                searchStatusEl.querySelector(".faves").innerHTML = searchStatus.stats.favorites.toLocaleString()
                searchStatusEl.querySelector(".views").innerHTML = searchStatus.stats.views.toLocaleString()
                searchStatusEl.querySelector(".loveToViewRatio").children[0].innerHTML = `Love/view ratio: ${Math.round(searchStatus.stats.loves / searchStatus.stats.views * 10000) / 100}%`
                searchStatusEl.querySelector(".faveToViewRatio").children[0].innerHTML = `Favorite/view ratio: ${Math.round(searchStatus.stats.favorites / searchStatus.stats.views * 10000) / 100}%`
                searchStatusEl.querySelector(".faveToLoveRatio").children[0].innerHTML = `Favorite/love ratio: ${Math.round((searchStatus.stats.favorites ?? 0) / (searchStatus.stats.loves ?? 0) * 10000) / 100}%`
                document.querySelector("#index-status").innerHTML = "📈 Indexed"
                })()
        </script>
    </body>
</html>